  
body {align:center;background-color:black; font:Arial;color:white}
h1{color:grey; font: verdana}
.maindiv{background-color:white; color:black; width:300px;align:center;padding:20px;border-radius:25px;}
div{align:center}

